@charset "EUC-KR";

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'S-CoreDream-4Regular',sans-serif;
}
.header{
    height: 150px;
    text-align: left;
    box-sizing: border-box;
     background-image: url("../images/headerr.png");
    /*border-bottom: 0px solid #999;*/
}
.header_logo h1 a{
    padding-top:20px ;
    padding-left: 40px;
    letter-spacing: 2px;
}
.header_gnb ul{
    margin-top: 5px;
    margin-right: 40px;
    text-align: right;
}
.header_gnb ul li{
    display: inline-block;
}
.header_gnb ul a{
    display: block;
    font-family: 'S-CoreDream-4Regular',sans-serif;
    color: 	white;
    margin: 0px 16px;
    letter-spacing: 1px;

}
.box {
	border: 0px solid ;
	width: auto;
	height: auto;
	margin: 10px;
	margin-top: 100px;
	display: flex;
	text-align: center;
}

.mainbox {
	border: 1.5px solid #3E3DB0 ;
	margin: 20px;
	height: 590px;
	width:  auto;
	padding: 20px;
	margin-left: 200px;
}
h1 {
	text-align: center;
}

legend {
	background-color: #71a2fc;
	color: #fff;
	padding: 3px 6px;
}
table {
	margin-left: 50px;
	margin-top: 70px;
}

td {
	padding: 10px;
	width: auto;
	text-align: left;
}
.leftbox h3 {
	width:130px;
	padding : 10px;
  	border-radius: 10px;
  	background:#3E3DB0;
  	color:white;
  	margin-bottom:20px;
}

.leftbox {
	margin: 20px;
	width: 150px;
	height: 590px;
	padding: 20px;
	float: left;
	line-height: 200%;
}

.main_a{
    background-color: white;
    color:#6b6c6f;
    font-weight: 500;
}
.pointt {
    text-align: center;
    width: 500px;
    margin: auto;
}

button {
	background: #FFCC79;
	color: #fff;
	border: none;
	position: relative;
	width: 130px;
	height: 60px;
	font-size: 1.0em;
	padding: 0 10px;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin: 10px;
	margin-top: 30px;
}

button:hover {
	background: white;
	color: #3E3DB0;
}

button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background:  #3E3DB0;
	transition: 400ms ease all;
}

button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}
footer{
    width: 100%;
    height: 120px;
    margin-top:20px ;
    background-color:black; 
    clear: both;
    bottom: 0;
    color: white;
}
#footer_box{
    width: 1140px;
    height: 180px;
    margin: 0 auto;
    border: 0px solid;
}
#footer_logo{
    float:left ;
    margin: 10px 0 0 10px;
    border: 1px solid snow;
    width: 100px;
    height: 100px;
}
#footer_box #address{
    float: left;
    margin: 25px 0 0 20px;
    border: 0px solid snow;
    font-family: 'S-CoreDream-4Regular',sans-serif;
    color: white;
}

